.rChat__textbar {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 7px;
	box-sizing: border-box;
	flex-wrap: wrap;
	background-color: #eeeeee;
	
	&_text-body {
		width: 86%;
	}
	
	&_textarea {
		resize: none;
		border: none;
		outline: none;
		width: 320px;
		max-width: 60vw;
		height: 40px;
		padding: 2px 4px;
		box-sizing: border-box;
		line-height: 19px;
		font-size: 13px;
		font-family: Roboto, sans-serif;
		background-color: transparent;
		padding-left: 5px;
		padding-top: 5px;
	}

	&_action-body {
		width: 12%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&_action {
		background-color: transparent;
		border: none;
		cursor: pointer;
		width: 40px;
		height: 40px;
		border-radius: 5px;
		background: linear-gradient(135deg, #1fa5ff, #265fed);
	}
}