.message-block__links {
  background-color: #F5F5F5;
  padding: 10px;
}

.message-block__link {
  height: 90px;
  display: flex;
  flex-wrap: wrap;
}
.message-block__link_action-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}
.message-block__link-image {
  width: 70px;
  height: 70px;
  background-color: #DADADA;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}
.message-block__link-image-block {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7E7E7;
}
.message-block__link-logo {
  width: 100%;
}
.message-block__link-body {
  width: 250px;
}
.message-block__link-title {
  margin: 0;
  line-height: 30px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 70px;
}

.react-action {
  background-color: #B8CEED;
  padding: 3px 8px;
  border-radius: 10px;
  border: 2px solid #D1CFCF;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}
.react-action:hover {
  background-color: #7CAFF7;
  border: 2px solid #919191;
}

.react__qr_header {
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react__qr_image-block {
  width: 250px;
  padding: 20px 0;
}
.react__qr_image-block_wrapper {
  border: 10px solid #D1CFCF;
}
.react__qr_image {
  width: 100%;
}

.react__chat__header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border-bottom: 1px solid #D1CFCF;
}
.react__chat__header_logo {
  width: 80px;
  padding: 10px;
}
.react__chat__header_title {
  width: 200px;
}
.react__chat__header_title-text {
  margin: 0;
  text-align: center;
  line-height: 80px;
  font-size: 25px;
}
.react__chat__body {
  width: 100%;
  max-height: 300px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow: auto;
}
.react__chat__messages {
  width: 100%;
  background-color: #DADADA;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}
.react__chat__messages_textarea {
  width: 80%;
  height: 70px;
  resize: none;
  margin-bottom: 10px;
  font-size: 15px;
}
.react__chat__message {
  width: 100%;
  padding: 10px 0;
  display: flex;
}
.react__chat__message_left {
  justify-content: flex-start;
}
.react__chat__message_right {
  justify-content: flex-end;
}
.react__chat__message_text {
  max-width: 200px;
  background-color: #88ADE9;
  padding: 5px 7px;
  box-sizing: border-box;
  border-radius: 5px;
  word-break: break-all;
}

.r-chat__header {
  min-height: 50px;
  border-radius: 25px 25px 0 0;
  background-color: #8E8E8E;
  overflow: hidden;
}
.r-chat__header_disactive {
  cursor: pointer;
}
.r-chat__header_title-default {
  line-height: 50px;
  margin: 0;
  box-sizing: border-box;
  padding-left: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.r-chat__header_active {
  display: flex;
}
.r-chat__header_icon {
  width: 80px;
  padding: 5px;
}
.r-chat__header_body {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 90px);
}
.r-chat__header_text {
  line-height: 90px;
  padding-left: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.r-chat__header_close {
  width: 80px;
  height: 80px;
  background-color: #a22;
  border-radius: 50%;
  margin-right: -30px;
  margin-top: -30px;
  cursor: pointer;
  border: 2px solid #fff;
}

.r-chat__input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.r-chat__input {
  margin: 10px 0;
  width: 220px;
  height: 25px;
  padding: 0 5px;
  box-sizing: border-box;
  font-size: 15px;
}

.r-chat__user-form {
  position: absolute;
  width: 100%;
  top: 0;
}
.r-chat__user-form_body {
  transition: 0.5s;
  transform-origin: top center;
  overflow: hidden;
  height: 0;
}
.r-chat__user-form_body_active {
  height: 100px;
  background-color: #E9E9E9;
}
.r-chat__user-form_footer {
  height: 30px;
  background-color: #507BF7;
  line-height: 30px;
  text-align: center;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  border: 2px solid #222;
  color: #fff;
  font-size: 15px;
}
.test {
  height: 100px;
}

.r-chat__page-chat {
  height: 80px;
  background-color: #EBEBEB;
  display: flex;
  flex-wrap: wrap;
}
.r-chat__page-chat_text {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-chat__page-chat_textarea {
  resize: none;
  width: 80%;
  height: 40px;
  font-size: 15px;
  padding: 5px;
  background-color: #fff;
  border: none;
}
.r-chat__page-chat_submit {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-chat__page-chat_submit-i {
  width: 50%;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.r-chat__chat-body {
  height: 220px;
  box-sizing: border-box;
  padding: 10px;
  overflow: auto;
}
.r-chat__message-block {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.r-chat__message {
  line-height: 30px;
  font-size: 18px;
  background-color: #507BF7;
  padding: 5px 7px;
  border-radius: 10px;
  max-width: 65%;
}
.r-chat__message_left {
  justify-content: flex-start;
}
.r-chat__message_right {
  justify-content: flex-end;
}

.r-chat {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 400px;
}
.r-chat__body {
  background-color: #FFF;
  position: relative;
  height: 0;
  transition: 0.7s height;
}
.r-chat__body_active {
  height: 300px;
  padding-top: 40px;
}

.message-block {
  position: fixed;
  right: 100px;
  bottom: 100px;
}
.react-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F5F5F5;
  border: 2px solid #D1CFCF;
  cursor: pointer;
  outline: none;
  float: right;
}
.react-button__burger {
  width: 80%;
  height: 2px;
  background-color: #222;
  display: block;
  position: relative;
  margin: auto;
}
.react-button__burger::before,
.react-button__burger::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #222;
}
.react-button__burger::before {
  top: 10px;
}
.react-button__burger::after {
  bottom: 10px;
}

