@bgc: #A9A9A9;
@color: #000;
@close: #5FDA7C;
@padding_lef_text: 30px;

.r-chat {
	&__header {
		min-height: 40px;
		border-radius: 25px 25px 0 0;
		background-color: @bgc;
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		
		&_disactive {
			cursor: pointer;
		}

		&_title {
			padding-left: @padding_lef_text;
			color: @color;
			font-size: 18px;
			margin: 0;
			line-height: 40px;
		}

		&_title-small {
			padding-left: @padding_lef_text;
			margin: 0;
			color: @color;
			line-height: 30px;
			font-size: 13px;
		}

		&_title-default {
			line-height: 40px;
			margin: 0;
			box-sizing: border-box;
			padding-left: @padding_lef_text;
			color: @color;
			font-weight: bold;
			font-size: 17px;
		}

		&_close {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin-left: 10px;
			border: 2px solid #222;
			cursor: pointer;
			position: relative;
			transition: .5s;
			
			&:hover {
				border: 2px solid #a22;
			}
			
			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 80%;
				height: 2px;
				background-color: #222;
				top: 50%;
				left: 10%;
				transition: .5s;
			}

			&:hover::before,
			&:hover::after {
				background-color: #a22;
			}

			&::before {
				transform: translateY(-50%) rotate(45deg);
			}

			&::after {
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
}