@import (less) './variable';

.r-chat {
	&__link-menu {
		height: 400px;
		padding: 10px;
		box-sizing: border-box;
		
		&_header {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 10px;
		}

		&_close {
			width: 30px;
			height: 30px;
			border: 2px solid #222;
			outline: none;
			border-radius: 50%;
			transition: .5s;
			padding: 0;
			margin: 0;
			cursor: pointer;
			
			&:hover {
				border: 2px solid #82E6FF;
			}
		}

		&_close:hover &_close-line,
		&_close:hover &_close-line::before {
			background-color: #82E6FF;
		}

		&_close-line {
			width: 80%;
			margin: auto;
			height: 2px;
			background-color: #222;
			display: block;
			transform: rotate(45deg);
			transition: .5s;
			
			&::before {
				content: '';
				display: block;
				height: 2px;
				background-color: #222;
				transform: rotate(90deg);
				transition: .5s;
			}
		}

		&_action-block {
			display: flex;
			justify-content: center;
			margin-bottom: 10px;
		}

		&_action {
			display: block;
			text-decoration: none;
			background-color: #60A9FB;
			padding: 3px 10px;
			border-radius: 5px;
		}

		&_qr-code {
			width: 70%;
			margin: auto;
			padding-top: 10px;
		}

		&_qr-code-image {
			width: 100%;
		}
	}
}