.r-chat {
	position: fixed;
	bottom: 0;
	right: 20px;
	width: 330px;
	
	&__body {
		background-color: #FFF;
		position: relative;
		height: 0;
		transition: .7s height;
		
		&_active {
			height: 360px;
			
			&_padding {
				padding-top: 10px;
			}
		}
	}
}
