.r-chat {
	position: fixed;
	bottom: 0;
	right: 20px;
	width: 400px;
	
	&__body {
		background-color: #FFF;
		position: relative;
		height: 0;
		transition: .7s height;
		
		&_active {
			height: 400px;
			
			&_padding {
				padding-top: 40px;
			}
		}
	}
}
