.rChat {
	position: fixed;
	right: 100px;
	bottom: 0;
	
	&__body {
		transition: .5s;
		height: 0;
		background-color: #FFF;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		
		&_action {
			height: 400px;
		}
	}
}