.rChat {
	&__input-block {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 10px 0;
	}

	&__input {
		font-size: 13px;
		width: 85%;
		line-height: 25px;
		padding-left: 10px;
		outline: none;
		box-sizing: border-box;
		border-radius: 5px;
		border: 2px solid #AEAEAE;
		box-shadow: none;
	}
}